* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




header {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 6rem;
}
.mobile-nav-toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 99;

    aspect-ratio: 1;
}
nav {
    background-color: aqua;
    height: 100%;
}
.nav-container {
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    min-width: 25rem;

    z-index: 9;

    /* Padding for sidebar top space */
    padding: 8rem;

    transform: translateX(100%);
    
}
.nav-container li {
    list-style: none;
    padding: 2rem;
}
header a {
    text-decoration: none;
}

/* If data-visible is true, slide the sidenav into the view */
.nav-container[data-visible="true"] {
    transform: translateX(0);
    transition: transform 300ms ease-in;
}


.nav-container li:hover {
    background-color: burlywood;
}





/* DESKTOP */
@media screen and (min-width: 700px) {

    .mobile-nav-toggle {
        display: none;
    }

    .nav-container {
        flex-direction: row;
        position: relative;
        height: 100%;

        padding: 0;

        /* Reset mobile sidenav hiding */
        transform: translateX(0);
    }
}









.header-image {
    background-image: url(../images/cityview-wide-2400.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20vw;
    object-fit: cover;
    background-position: center;
    
}










footer li {
    list-style-type: none;
}
footer a {
    text-decoration: none;
    transition: 3s;
 }
footer a:hover {
    text-decoration: underline;
}