* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.mobile-nav-toggle {
    position: absolute;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9;
    display: block;
}
.nav-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    background-color: steelblue;
    padding: 80px 20px;
}

.nav-container li {
    list-style: none;
}


.nav-container a {
    text-decoration: none;
    padding: 0;
    margin: 0;

}
.nav-container li:hover {
    background-color: brown;
    color: yellow;
}

@media screen and (min-width: 700px) {

    .mobile-nav-toggle {
        display: none;
    }

    .nav-container {
        flex-direction: row;
        justify-content: end;
        position: relative;
        inset: 0 0 0 0;
        padding: 0;
        margin: 0;
    }

    .nav-container li {
        display: inline-block;
        padding: 20px;
        margin: 0px;
        list-style: none;
        transition: 0.3s;
    }
    /* .nav-container li:first-child {
        margin-right: auto;
    } */
}




.header-image {
    background-image: url(../images/cityview-wide-2400.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20vw;
    object-fit: cover;
    background-position: center;
    
}










footer li {
    list-style-type: none;
}
footer a {
    text-decoration: none;
    transition: 3s;
 }
footer a:hover {
    text-decoration: underline;
}